version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: restaurant-app
    restart: always
    environment:
      POSTGRES_DB: restaurant
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: